<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Curso</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="curso.nombre"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="content">Fecha inicio</label>
        <input
          class="form-control"
          id="content"
          required
          [(ngModel)]="curso.fechaInicio"
          name="content"
          type="date"
        />
      </div>
      <div class="form-group">
        <label for="Tema">Tema</label>
        <select
          class="form-control"
          id="content"
          required
          [(ngModel)]="curso.tema"
          name="content"
        >
          <option *ngFor="let tema of temas" [value]="tema.id">
            {{ tema.nombre }}
          </option>
        </select>
      </div>
      <button (click)="saveCurso()" class="btn btn-success">Guardar</button>
    </div>
    <div *ngIf="submitted">
      <h4>El curso fue agregado con éxito!</h4>
      <div class="button-container">
        <button class="btn btn-success" (click)="newCurso()">Agregar otro curso</button>
      </div>
      <div class="button-container">
        <a class="btn btn-primary" href="/cursos">Ir a Cursos</a>
      </div>
    </div>
      
  </div>
</div>